.ticket {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 36px 39px 39px;
	grid-template-areas:
		"price . logo"
		"to toDuration toStops"
		"from fromDuration fromStops";
	row-gap: 20px;

	height: 184px;
	padding: 20px;

	border-radius: 5px;
	background: var(--white);
	box-shadow: 0 2px 8px var(--shadow);
}

.price {
	color: var(--primary);

	font-size: 24px;
	font-weight: 600;
	line-height: 24px;
	grid-area: price;
}

.logo {
	grid-area: logo;
}

.to {
	grid-area: to;

	&Duration {
		grid-area: toDuration;
	}

	&Stops {
		grid-area: toStops;
	}
}

.from {
	grid-area: from;

	&Duration {
		grid-area: fromDuration;
	}

	&Stops {
		grid-area: fromStops;
	}
}
