.btn {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 50px;

	padding: 15px 20px;

	cursor: pointer;
	text-align: center;
	letter-spacing: 0.5px;
	text-transform: uppercase;

	color: var(--white);
	border: none;
	border-radius: 5px;
	background: var(--primary);

	font-size: 12px;
	font-weight: 600;
	line-height: 20px;

	&:hover {
		background: #1385E2;
	}
}
