.filter {
	border-radius: 5px;
	background: var(--white);
	box-shadow: 0 2px 8px var(--shadow);

	&_title {
		height: 42px;
		padding: 20px 20px 10px;

		letter-spacing: 0.5px;
		text-transform: uppercase;

		font-size: 12px;

		font-weight: 600;

		line-height: 12px;
	}
}
