.layout {
  display: grid;
  grid-template-columns: auto 232px 502px auto;
  grid-template-rows: 140px 50px 182px 1fr;
  gap: 20px;
  grid-template-areas:
    ". header header . "
    ". filter sort ."
    ". filter body ."
    ". . body .";

  min-height: 100vh;
}

.header {
  grid-area: header;
}

.filter {
  grid-area: filter;
}

.body {
  grid-area: body;
  margin-bottom: 50px;
}

.sort {
  grid-area: sort;
}
